<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{TITLE}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <a href="/" class="btn btn-info" role="button">Home</a>
  {ERROR}
  <form action="{ACTION}" method="post">
    <div class="form-group">
      <label for="username">Username: </label>
      <input type="text" class="form-control" id="username" name="username" value="{USERNAME}" required>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" name="email" value="{EMAIL}" required>
    </div>
    <div class="form-group">
      <label for="msg">Task message:</label>
      <input type="text" class="form-control" id="msg" name="msg" value="{MSG}" required>
    </div>
    <button type="submit" class="btn btn-default">Save</button>
  </form>
</body>
</html>